.App {
  display: flex;
  justify-content: center;
}

/* palette */
.palette-component {
  display: flex;
  flex-direction: column;
}

/* form component */

.form-component {
  display: flex;

  margin-top: 5vh;
}

.form-container {
  width: 20vw;
  background-color: #f5eee8;
  display: flex;

  border: solid #5e85d4 3px;
  flex-direction: column;
  align-items: center;
  padding: 2vh;
}

input {
  width: 15vw;
}

h4,
h3 {
  margin: 5px;
}

.toggle-button {
  background-color: #5e85d4;
  margin-bottom: 5vh;
  width: 15vw;
  height: 4vh;
  border-radius: 2px;
  color: white;
  font-weight: 900;
  font-size: 2vh;
  font-family: "Roboto Slab", serif;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* color component */
.colors-component-container {
  display: flex;
  width: 100vw;
}

.colors-component {
  border: solid 3px #5e85d4;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin-left: 5vw;
  width: 17vw;
  height: 40vh;
}

.hex {
  width: 10vw;
  height: 5vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.colors-image {
  height: 15vh;
  width: 15vh;
}

.delete-edit-buttons-container {
  display: flex;
  justify-content: space-around;
  margin-left: 5vw;
}

.delete-button,
.edit-button {
  width: 7vw;
  margin-top: 2vh;
  font-weight: 900;
  font-size: .9em;
  font-family: "Roboto Slab", serif;
}

.delete-button {
  background-color: #ea9aaa;
}

.edit-button {
  background-color: #54d2e5;
}
